In [1]:
import pandas as pd
import folium
import yaml
import pickle
import folium

In [2]:
with open('C:/Users/Sidney/LiveProject/AirBnB_config.yml', 'r') as file:
    config=yaml.safe_load(file)

In [3]:
config

{'general': {'load_from_scratch': False,
  'save_raw_dataframe': False,
  'save_transformed_dataframe': False,
  'remove_bad_values': True},
 'columns': {'categorical': ['neighbourhood_group',
   'neighbourhood',
   'room_type'],
  'continuous': ['minimum_nights',
   'price',
   'number_of_reviews',
   'reviews_per_month',
   'calculated_host_listings_count'],
  'date': ['last_review'],
  'text': ['name', 'host_name'],
  'excluded': ['id']},
 'bounding_box': {'max_long': -73.70018092,
  'max_lat': 40.91617849,
  'min_long': -74.25909008,
  'min_lat': 40.47739894},
 'newark_bounding_box': {'max_long': -74.11278706,
  'max_lat': 40.67325015,
  'min_long': -74.25132408,
  'min_lat': 40.78813864},
 'geo_columns': ['latitude', 'longitude'],
 'file_names': {'input_csv': 'AB_NYC_2019.csv',
  'pickled_input_dataframe': 'C:/Users/Sidney/OneDrive/Documents/LiveProject/AB_NYC_2021.pkl',
  'pickled_output_dataframe': 'AB_NYC_23_May_2021.pkl'}}

In [4]:
config.keys()

dict_keys(['general', 'columns', 'bounding_box', 'newark_bounding_box', 'geo_columns', 'file_names'])

In [5]:
file_names=config.get('file_names')

In [6]:
file_names

{'input_csv': 'AB_NYC_2019.csv',
 'pickled_input_dataframe': 'C:/Users/Sidney/OneDrive/Documents/LiveProject/AB_NYC_2021.pkl',
 'pickled_output_dataframe': 'AB_NYC_23_May_2021.pkl'}

In [7]:
ip_data_frame=file_names.get('pickled_input_dataframe')

In [8]:
infile=open(ip_data_frame, 'rb')

In [9]:
df=pickle.load(infile)

In [10]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,0.00,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [11]:
latitude=40.71455
longitude=-74.00712

In [12]:
NYC_map=folium.Map(location=[latitude,longitude],zoom_start=8)

In [14]:
df['neighbourhood_group'].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [15]:
colors=['red','yellow','orange','green','blue']

In [16]:
indices = sorted(list(df['neighbourhood_group'].unique()))

In [17]:
df['color'] = df['neighbourhood_group'].apply(lambda x: 
               colors[indices.index(x)])

Brooklyn: yellow, Manhattan: orange, Queens: green, Bronx: red, Staten Island: blue

In [18]:
df.apply(lambda x: folium.CircleMarker(
           location=[x['latitude'],x['longitude']], 
           color=x['color'], fill=True,
           radius=1).add_to(NYC_map), axis=1)

0        <folium.vector_layers.CircleMarker object at 0...
1        <folium.vector_layers.CircleMarker object at 0...
2        <folium.vector_layers.CircleMarker object at 0...
3        <folium.vector_layers.CircleMarker object at 0...
4        <folium.vector_layers.CircleMarker object at 0...
                               ...
48890    <folium.vector_layers.CircleMarker object at 0...
48891    <folium.vector_layers.CircleMarker object at 0...
48892    <folium.vector_layers.CircleMarker object at 0...
48893    <folium.vector_layers.CircleMarker object at 0...
48894    <folium.vector_layers.CircleMarker object at 0...
Length: 48895, dtype: object

In [ ]:
NYC_map

In [20]:
df['price'].describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [21]:
NYC_map2=folium.Map(location=[latitude,longitude],zoom_start=8)

In [22]:
def price_color(price):
    if price<70:
        return 'black'
    elif (price>=70 and price<106):
        return 'green'
    elif (price>=106 and price<175):
        return 'yellow'
    elif (price>=175 and price<500):
        return 'orange'
    else:
        return 'red'
        
df['Price_Color'] = df.apply(lambda x: price_color(x['price']),axis=1)

In [23]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,color,Price_Color
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,yellow,yellow
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,orange,orange
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,0.00,1,365,orange,yellow
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,yellow,green
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,orange,green

In [24]:
df.apply(lambda x: folium.CircleMarker(
           location=[x['latitude'],x['longitude']], 
           color=x['Price_Color'], fill=True,
           radius=1).add_to(NYC_map2), axis=1)

0        <folium.vector_layers.CircleMarker object at 0...
1        <folium.vector_layers.CircleMarker object at 0...
2        <folium.vector_layers.CircleMarker object at 0...
3        <folium.vector_layers.CircleMarker object at 0...
4        <folium.vector_layers.CircleMarker object at 0...
                               ...
48890    <folium.vector_layers.CircleMarker object at 0...
48891    <folium.vector_layers.CircleMarker object at 0...
48892    <folium.vector_layers.CircleMarker object at 0...
48893    <folium.vector_layers.CircleMarker object at 0...
48894    <folium.vector_layers.CircleMarker object at 0...
Length: 48895, dtype: object

Lodging Prices(USD): 0-69: black, 70-105: green, 106-174: yellow, 175-499: orange, 500-1000: red

In [ ]:
NYC_map2